.my_btn{
    background-color: mediumpurple;
}
element.style {
    background-color: mediumpurple!important;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
    background-color: mediumpurple!important;
}
